In [1]:
import matplotlib.pyplot as plt, numpy as np
import seaborn as sns
import pandas as pd
#!pip install pandas
#!pip install --upgrade xlrd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df=pd.read_excel('drive/My Drive/fp_421/2021-2022 NBA Player Stats.xlsx', index_col=0)
df.columns = ['Player_name', 'team', 'pos', 'age', 'gp', 'mpg', 'min%', 'usg%', 'tor%', 'fta', 'ft%', '2pa', '2p%', '3pa', '3p%', 'efg%', 'ts%', 'ppg', 'rpg', 'trb%', 'apg', 'ast%', 'spg', 'bpg', 'topg', 'vi', 'ortg', 'drtg']
df = df.iloc[1: , :]
df = df.reset_index()
df.drop(['2021-2022 NBA Player Stats'], axis = 1, inplace=True)
df['year'] = '2021-2022'
teams= ['Lac', 'Pho', 'Atl', 'Mil']
df['Final_four'] = df['team'].isin(teams).astype(int)
df.head()

,Player_name,team,pos,age,gp,mpg,min%,usg%,tor%,fta,...,apg,ast%,spg,bpg,topg,vi,ortg,drtg,year,Final_four
0,Precious Achiuwa,Tor,F,22.56,73.0,23.6,49.2,18.5,11.3,131.0,...,1.1,6.9,0.51,0.56,1.15,6.8,105.4,104.0,2021-2022,0
1,Steven Adams,Mem,C,28.73,76.0,26.3,54.8,12.0,19.6,199.0,...,3.4,16.1,0.87,0.79,1.51,9.4,124.7,103.9,2021-2022,0
2,Bam Adebayo,Mia,C-F,24.73,56.0,32.6,67.9,25.0,14.4,340.0,...,3.4,17.5,1.43,0.79,2.64,10.7,117.2,98.2,2021-2022,0
3,Santi Aldama,Mem,F-C,21.25,32.0,11.2,23.4,18.5,9.9,32.0,...,0.7,7.7,0.19,0.31,0.5,7.1,101.1,103.9,2021-2022,0
4,LaMarcus Aldridge,Bro,C-F,36.73,47.0,22.3,46.5,22.4,8.0,102.0,...,0.9,6.3,0.3,1.0,0.94,7.2,119.6,108.8,2021-2022,0

In [4]:
fnames = ['2018-2019 NBA Player Stats', '2019-2020 NBA Player Stats', '2020-2021 NBA Player Stats']
final_teams = [['Hou', 'Gol', 'Cle', 'Bos'],['Gol', 'Ind', 'Tor', 'Mil'], ['Lal', 'Den', 'Mia', 'Bos']]

In [5]:
i=0
for fname in fnames:
    name = fname+'.xlsx'
    year = fname[0:9]
    data = pd.read_excel('drive/My Drive/fp_421/'+name, index_col = 0)
    data.columns = ['Player_name', 'team', 'pos', 'age', 'gp', 'mpg', 'min%', 'usg%', 'tor%', 'fta', 'ft%', '2pa', '2p%', '3pa', '3p%', 'efg%', 'ts%', 'ppg', 'rpg', 'trb%', 'apg', 'ast%', 'spg', 'bpg', 'topg', 'vi', 'ortg', 'drtg']
    data['year']=year
    data = data.iloc[1: , :]
    data = data.reset_index()
    data.drop(fnames[i], axis = 1, inplace=True)
    data['Final_four'] = data['team'].isin(final_teams[i]).astype(int)
    df = df.append(data)
    i+=1

In [6]:
df.head()

,Player_name,team,pos,age,gp,mpg,min%,usg%,tor%,fta,...,apg,ast%,spg,bpg,topg,vi,ortg,drtg,year,Final_four
0,Precious Achiuwa,Tor,F,22.56,73.0,23.6,49.2,18.5,11.3,131.0,...,1.1,6.9,0.51,0.56,1.15,6.8,105.4,104.0,2021-2022,0
1,Steven Adams,Mem,C,28.73,76.0,26.3,54.8,12.0,19.6,199.0,...,3.4,16.1,0.87,0.79,1.51,9.4,124.7,103.9,2021-2022,0
2,Bam Adebayo,Mia,C-F,24.73,56.0,32.6,67.9,25.0,14.4,340.0,...,3.4,17.5,1.43,0.79,2.64,10.7,117.2,98.2,2021-2022,0
3,Santi Aldama,Mem,F-C,21.25,32.0,11.2,23.4,18.5,9.9,32.0,...,0.7,7.7,0.19,0.31,0.5,7.1,101.1,103.9,2021-2022,0
4,LaMarcus Aldridge,Bro,C-F,36.73,47.0,22.3,46.5,22.4,8.0,102.0,...,0.9,6.3,0.3,1.0,0.94,7.2,119.6,108.8,2021-2022,0

In [7]:
df['Final_four'].value_counts()

0    2215
1     340
Name: Final_four, dtype: int64

In [8]:
df['Final_four'].isna().sum()

0

In [9]:
df.shape

(2555, 30)

In [10]:
df=df.fillna(0)

In [11]:
df.isna().sum()

Player_name    0
team           0
pos            0
age            0
gp             0
mpg            0
min%           0
usg%           0
tor%           0
fta            0
ft%            0
2pa            0
2p%            0
3pa            0
3p%            0
efg%           0
ts%            0
ppg            0
rpg            0
trb%           0
apg            0
ast%           0
spg            0
bpg            0
topg           0
vi             0
ortg           0
drtg           0
year           0
Final_four     0
dtype: int64

In [12]:
all_players = df
best_players = all_players[all_players['min%']>10]
print(all_players.shape, best_players.shape)

(2555, 30) (2376, 30)

In [13]:
best_players.isna().sum()

Player_name    0
team           0
pos            0
age            0
gp             0
mpg            0
min%           0
usg%           0
tor%           0
fta            0
ft%            0
2pa            0
2p%            0
3pa            0
3p%            0
efg%           0
ts%            0
ppg            0
rpg            0
trb%           0
apg            0
ast%           0
spg            0
bpg            0
topg           0
vi             0
ortg           0
drtg           0
year           0
Final_four     0
dtype: int64

In [17]:
all_teams_df = all_players.groupby(['team','year']).agg(avg_age=('age', 'mean'), avt_turnover_rate=('tor%', 'mean'), avg_fta=('fta', 'mean'), max_ft_perc=('ft%', 'max'), min_ft_perc=('ft%', 'min'), avg_ft_perc=('ft%', 'mean'), avg_2pa=('2pa', 'mean'), max_2p_perc=('2p%', 'max'), min_2p_perc=('2p%', 'min'), avg_2p_perc=('3p%', 'mean'), avg_3pa=('3pa', 'mean'), max_3p_perc=('3p%', 'max'), min_3p_perc=('3p%', 'min'), avg_3p_perc=('3p%', 'mean'), avg_efg_perc=('efg%', 'mean'), avg_ts_perc=('ts%', 'mean'), avg_ppg=('ppg', 'mean'), max_ppg=('ppg', 'max'), min_ppg=('ppg', 'min'), avg_rpg=('rpg','mean'), avg_trb_perc=('trb%', 'mean'), max_trb_perc=('trb%', 'max'), avg_apg=('apg', 'mean'), max_apg=('apg', 'max'), avg_spg=('spg', 'mean'), avg_bpg=('bpg', 'mean'), avg_tpg=('topg', 'mean'), max_tpg=('topg', 'max'), max_ortg=('ortg', 'max'), max_drtg=('drtg', 'max'))
best_teams_df = best_players.groupby(['team','year']).agg(avg_age=('age', 'mean'), avt_turnover_rate=('tor%', 'mean'), avg_fta=('fta', 'mean'), max_ft_perc=('ft%', 'max'), min_ft_perc=('ft%', 'min'), avg_ft_perc=('ft%', 'mean'), avg_2pa=('2pa', 'mean'), max_2p_perc=('2p%', 'max'), min_2p_perc=('2p%', 'min'), avg_2p_perc=('3p%', 'mean'), avg_3pa=('3pa', 'mean'), max_3p_perc=('3p%', 'max'), min_3p_perc=('3p%', 'min'), avg_3p_perc=('3p%', 'mean'), avg_efg_perc=('efg%', 'mean'), avg_ts_perc=('ts%', 'mean'), avg_ppg=('ppg', 'mean'), max_ppg=('ppg', 'max'), min_ppg=('ppg', 'min'), avg_rpg=('rpg','mean'), avg_trb_perc=('trb%', 'mean'), max_trb_perc=('trb%', 'max'), avg_apg=('apg', 'mean'), max_apg=('apg', 'max'), avg_spg=('spg', 'mean'), avg_bpg=('bpg', 'mean'), avg_tpg=('topg', 'mean'), max_tpg=('topg', 'max'), max_ortg=('ortg', 'max'), max_drtg=('drtg', 'max'))

In [18]:
all_teams_df
best_teams_df

                  avg_age  avt_turnover_rate    avg_fta  max_ft_perc  \
team year
Atl  2018-2019  25.708571          12.185714  91.333333        1.000
     2019-2020  26.920500          13.035000  78.050000        0.933
     2020-2021  26.416111          12.933333  96.944444        1.000
     2021-2022  26.508182           9.000000  82.954545        1.000
Bos  2018-2019  26.153125          10.450000  99.875000        0.873
...                   ...                ...        ...          ...
Uta  2021-2022  28.041818          13.713636  87.045455        1.000
Was  2018-2019  27.375652          12.691304  85.347826        0.888
     2019-2020  26.337391          12.056522  76.956522        0.912
     2020-2021  26.172500          15.360000  93.900000        0.889
     2021-2022  26.785769          12.476923  68.384615        1.000

                min_ft_perc  avg_ft_perc     avg_2pa  max_2p_perc  \
team year
Atl  2018-2019          0.0     0.648952  213.904762        0.714
     2019-2020          0.0     0.674250  182.100000        0.704
     2020-2021          0.5     0.783833  215.500000        0.658
     2021-2022          0.0     0.750955  200.318182        0.750
Bos  2018-2019          0.5     0.739062  286.750000        0.706
...                     ...          ...         ...          ...
Uta  2021-2022          0.0     0.611727  170.772727        1.000
Was  2018-2019          0.0     0.667522  202.434783        0.683
     2019-2020          0.0     0.646435  182.608696        0.645
     2020-2021          0.0     0.669400  222.100000        0.714
     2021-2022          0.0     0.662538  174.500000        1.000

                min_2p_perc  avg_2p_perc  ...  avg_trb_perc  max_trb_perc  \
team year                                 ...
Atl  2018-2019        0.000     0.299238  ...     11.395238          29.5
     2019-2020        0.000     0.256000  ...      9.840000          18.9
     2020-2021        0.100     0.282889  ...      9.983333          26.0
     2021-2022        0.143     0.318182  ...      9.804545          23.5
Bos  2018-2019        0.424     0.333187  ...     10.556250          17.9
...                     ...          ...  ...           ...           ...
Uta  2021-2022        0.000     0.262182  ...     11.063636          24.9
Was  2018-2019        0.000     0.290478  ...     10.004348          19.6
     2019-2020        0.167     0.336870  ...      9.030435          19.4
     2020-2021        0.000     0.281300  ...     10.285000          16.8
     2021-2022        0.000     0.240269  ...     10.930769          36.5

                 avg_apg  max_apg   avg_spg   avg_bpg   avg_tpg  max_tpg  \
team year
Atl  2018-2019  1.666667      8.1  0.560476  0.358095  1.080952     3.80
     2019-2020  1.895000      9.3  0.701000  0.452500  1.227500     4.80
     2020-2021  2.027778      9.4  0.622778  0.388333  1.114444     4.14
     2021-2022  1.650000      9.7  0.584545  0.316364  0.739545     3.99
Bos  2018-2019  2.175000      6.9  0.708750  0.441250  0.930625     2.57
...                  ...      ...       ...       ...       ...      ...
Uta  2021-2022  1.431818      5.3  0.483182  0.370455  0.925455     2.99
Was  2018-2019  2.078261      8.7  0.761304  0.458696  1.204783     3.81
     2019-2020  1.965217      6.1  0.653913  0.360435  1.062609     3.42
     2020-2021  1.860000     11.7  0.598500  0.409500  1.302000     5.00
     2021-2022  2.080769      7.0  0.611923  0.361923  0.967308     3.38

                max_ortg  max_drtg
team year
Atl  2018-2019     135.4     114.2
     2019-2020     137.0     115.2
     2020-2021     134.7     114.2
     2021-2022     183.6     114.8
Bos  2018-2019     133.5     106.7
...                  ...       ...
Uta  2021-2022     178.7     119.5
Was  2018-2019     135.4     115.0
     2019-2020     134.4     119.7
     2020-2021     132.5     110.5
     2021-2022     147.5     116.2

[120 rows x 30 columns]